html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

footer { text-align: center; margin-bottom: 30px; }
.top a { text-align: left; text-decoration: underline; }

.created_at {
    margin-left: 10px;
    font-weight: bold;    
    font-size: 90%;
    display: inline-block;
    display: none;
    float: right;
}

body{
color:#444;
font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
line-height:1.5em;
padding:1em;
font-size: 17px;
font-weight: lighter;
margin:auto;
max-width:40em;
margin: 0 auto;        
margin:0 auto;
background:#fefefe;
}

.highlighter-coderay {
  background-color: whitesmoke;
  overflow: scroll;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 5px;
}

p{ margin:1em 0; }

img{ max-width:100%;  }

figcaption { text-align: center; font-size: 80%; margin-top: 5px; margin-bottom: 15px;}

.center { text-align: center; }

li {
  margin-top: 5px;
}